<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chin.gameoauth.infrastructure.dao.IBotDao">

    <resultMap id="botMap" type="com.chin.gameoauth.infrastructure.pojo.Bot">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="description" property="description"/>
        <result column="title" property="title"/>
        <result column="create_time" property="createTime"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>

    <select id="queryBotById" parameterType="java.lang.Integer" resultMap="botMap">
        SELECT id, user_id, content, description, title, create_time, modified_time from bot
        WHERE id = #{id}
    </select>

    <select id="queryBotByUserId" parameterType="java.lang.Integer" resultMap="botMap">
        SELECT id, user_id, content, description, title, create_time, modified_time from bot
        WHERE user_id = #{userId}
    </select>

    <insert id="insertBot" parameterType="com.chin.gameoauth.infrastructure.pojo.Bot">
        INSERT INTO bot(user_id, content, description, title, create_time, modified_time)
        VALUES (#{userId}, #{content}, #{description}, #{title}, now(), now())
    </insert>

    <delete id="deleteBot" parameterType="com.chin.gameoauth.infrastructure.pojo.Bot">
        DELETE FROM bot
        WHERE id = #{id}
    </delete>

    <update id="updateBot" parameterType="com.chin.gameoauth.infrastructure.pojo.Bot">
        UPDATE bot SET content = #{content}, description = #{description}, title = #{title}, modified_time = now()
        WHERE id = #{id}
    </update>

</mapper>